:root{
    --bg:#F8F6EA;
    --pink:#CD9BC2;
    --purple: #7B5573;
    --h1: 5em;
    --h2: 3.2em;
    --h3: 2em;
    --p:2.5em;
    --psmall:1.8em;
    --bradius:25px;
    --bradius1:50px;
    --graph: 400px;
    --ptext: 1.5em;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../fonts/Satoshi-Black.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Satoshi1';
    src: url('../fonts/Satoshi-Medium.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Pally';
    src: url('../fonts/Pally-Bold.otf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Pally';
    src: url('../fonts/Pally-Regular.otf') format('truetype');
    font-weight: normal;
}



h1{
    font-size:var(--h1);
    margin-bottom: 20px;
}

h2{
    margin:0;
    font-size: var(--h2);
    margin-top: 30px;
}

h3{
    margin:0;
}

a{
    text-decoration: none;
    color:var(--purple);
}

.satoshi{
    font-family:'Satoshi'
}

body{
    background-color: var(--bg);
    background-image: url('../images/Grain-Texture1.png');
    background-size: 150%;
    font-family: 'Pally';
    font-weight: bold;
    color:var(--purple);
    margin:0;
    overflow-x:hidden;
    overflow: hidden;
    padding:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}   

.main{
    background-color: var(--pink);
    /* margin: 3px 3vw 8vh 4vw; */
    max-width: 1200px;
    max-height: 700px;
    width: 90%;
    height: 65%;
    border-radius: 50px;
    padding:30px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.mainSecond{
    flex-direction:row;
    justify-content: flex-end;
    background-color: var(--purple);
    padding:0;
}

.container{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 30px;
    /* max-width: 800px; */
}

.container button{
    background-color: var(--purple);
    color: var(--pink);
    font-family:'Satoshi';
    border:none;
    outline:none;
    padding: 15px 35px;
    border-radius: var(--bradius);
    font-size:var(--psmall);
    transition: all 0.5s;
    border: 5px solid var(--purple);
    width: 100%;
    height:100%;
}

.container button:hover{
    background-color: var(--pink);
    color:var(--purple)
}

.main p{
    font-family: 'Satoshi';
    width: 85%;
    font-size:var(--p);
}

.content{
    opacity:0;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    position: relative;
}

.disappear{
    opacity:1;
    transition:all 0.2s;
}

#heading{
    display:flex;
}

#pink{
    color:var(--pink)
}

.going{
    opacity:0;

}

.gone{
    display:none;
}

.statistic{
    display:none;
    align-self:flex-end;
    min-height: 100%;
    width: 100%;
    background-color: var(--pink);
    border-radius: var(--bradius1);
    transition: all 0.7s;
    box-sizing: border-box;
    padding:30px;
}

.start{
    width:50%;
}

#back{
    display:flex;
    gap: 20px;
    font-size: var(--h3);
    font-family: 'Satoshi';
}

#back h2{
    margin:0;
}



.content p{
    margin-top:10px;
}

#text{
    margin-left:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.blur{
    filter: blur(2px);
}

#plot{
    width:25%;
}



.dropdown{
    border: none;
    font-size: var(--h3);
    font-family: 'Satoshi';
    border-radius: 15px;
    padding: 10px 20px;
    background-color: var(--purple);
    color: var(--pink);
    width: 90%;
}

.submit{
    font-size: 1.5em;
    font-family: 'Satoshi';
    border-radius: 15px;
    padding: 10px 5px;
    background-color: var(--purple);
    color: var(--pink);
    border: 5px solid var(--purple);
    margin-top: 15px;
    transition: all 0.5s;
    width: 50%;
    /* height: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit:hover{
    background-color: var(--pink);
    color: var(--purple);
}

.submit:active{
    scale:0.95;
}

.statistics{
    /* height:100vh; */
    width:100vw;
    padding:30px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.total-amount-container{
    width:var(--graph);
    height: var(--graph);
}
.income-dist-container{
    height: var(--graph);
    width: var(--graph);
}
.racial-dist-container{
    height: var(--graph);
    width: var(--graph);
}

.runtime{
    position:fixed;
    top: 20px;
    right: 20px;
    background-color: var(--bg);
    border-radius: 15px;
    border: 3px solid var(--pink);
    padding: 10px;
    display: flex;
    align-items: center;
    transition: all 0.5s;
    transform:translateY(-100px);
}

.runtime p{
    margin:0;
}

.active{
    transform:translateY(0px);
}

.runtime button{
    font-family:'Satoshi';
    border:none;
    outline:none;
    border-radius: 50%;
    background-color: var(--pink);
    color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition:all 0.3s;
}

.runtime button:hover{
    background-color:var(--purple);
    color:var(--pink);
    transform:scale(1.1);
}

.runtime button:active{
    transform:scale(0.9);
}

.runtime button p{
    transform:translateY(-1px);
}

.statisticDisplay{
    background-color: var(--purple);
    border-radius: 25px;
    padding:30px;
    margin:20px;
    max-width: 1200px;
    display: flex;
    align-items: flex-start;
    width: 90%;
    margin: 20px 30px;
    box-sizing: border-box;
    font-family: 'Satoshi';
    gap: 30px;
}

.statisticsText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.statisticsText h2{
    margin:0;
    font-size: var(--h3);
    margin-top: 30px;
    color: var(--pink);
    width: 100%;
}

.statisticsText p{
    color:var(--pink);
    font-size: var(--ptext);
    margin: 0;
    width:90%;
    /* margin-left: 20px; */
}

.venusContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-left: 20px; */
    /* gap: 10px; */
}

.venus{
    width:30px;
    height:30px;
    background-image: url(../images/venus2.svg);
    background-size: cover;
}

.venusSelected{
    background-image: url(../images/venus1.svg);
}



.legend-item{
    display: flex;
    align-items: center;
    gap: 10px;
    color:var(--pink)
}

.legend-item .text{
    max-height: 30px;;
}

.color{
    height:30px;
    width:30px;
}

.summary-legend .color{
    border-radius: 50%;
}

.summary-legend{
    scale:0.8;
}

.pieContainer{
    display:flex;
    align-items: center;
    gap: 30px;
}

.scatter-container{
    height:80%;
    width:45%;
    margin:30px;
    position: absolute;
    z-index:-1;
    display:flex;
    flex-direction: column;
    color:var(--pink);
    font-family: 'Satoshi';
}

.scatter-graph-container{
    height: 90%;
    width:100%;
}

.relative{
    position: relative;
    z-index: 1;
    display: flex;
    gap: 20px;
    align-items: center;
}

@media(max-width:850px){
    :root{
        --h1:4em;
        --h2:2.5em;
        --h3:1.7em;
        --p: 1.8em;
        --psmall: 1.5em;
    }
    .container button{
        width:100%;
        height: 50%;
        border-radius: 30px;
    }
    .container{
        flex-direction: column;
        gap: 15px;
    }
    .statisticDisplay{
        flex-direction: column;
        align-items: center;
    }

    .main{
        height:95%;
        max-height: 1100px;
        /* margin: 0 30px 30px 30px; */
        padding: 20px;
    }
    .mainSecond{
        padding:0;
    }
    .start{
        width:100%
    }
    .statistics{
        flex-direction: column;
        /* height: 100%; */
        /* width: 100%; */
        padding: 0;
    }
    #heading{
        line-height: 0.8;
    }
    h1{
        margin:30px 0;
    }
    .dropdown{
        padding:5px 10px;
    }
    .submit{
        padding:7px 2.5px;
    }
    #text{
        margin:0;
    }
    .statisticsText{
        align-items: center;
    }
    .statisticsText h2{
        text-align: center;
    }
    .statisticsText p{
        text-align: center;
    }
    .scatter-container{
        display:none;
    }
}

@media (max-width:500px){
    :root{
        --h1: 3em;
        --h3:1.5em;
        --psmall: 1.3em;
        --p:1.4em;
        --graph:200px;
        --ptext:1.2em;
    }
    .container{
        gap:10px;
    }
    .main{
        height:90%;
        margin-bottom:100px;
    }
    .statistic{
        padding:30px;
    }
    .container{
        flex-direction: column;
    }
    .total-amount-container{
        width:100%;
        height:300px;
        transform:translateX(-10px);
    }
    .pieContainer{
        flex-direction: column;
        align-items: center;
    }
    .legend-item{
        display: flex;
        align-items: center;
        gap: 10px;
        color:var(--pink)
    }
    
    .legend-item .text{
        max-height: 20px;
        font-size: 1em;
    }
    
    .color{
        height:20px;
        width:20px;
    }
    .racial-legend{
        display:flex;
        gap:20px;
    }
}

@media (max-width:350px){
    :root{
        --h1: 3em;
        --p: 1.2em;
        --psmall: 1.2em;
        --ptext:1em;

    }
    .container{
        gap:10px;
    }
    .container button{
        padding: 5px 10px;
    }
    .total-amount-container{
        width:115%;
        height:300px;
        transform:translateX(-20px);
    }
}

@media (max-width:320px){
    :root{
        --h1: 2.4em;
        --p: 1.2em;
    }
    .container{
        gap:5px;
    }

}
