
<section class="choose">
    <a href="{{ url_for('index') }}" id="heading"><h1 id="pink">pink</h1><h1>pulse</h1></a>
        <section class="main">
            <div class="container disappear">
                <button id="county-button">
                    <h2>county classifier</h2> 
                    <p>(coming soon)</p>
                </button>
                <button id="statistics" onclick="statistic();   getSummary();">
                    <h2>statistic finder</h2> 
                    <p>find period poverty statistics about a specific California county</p>
                </button>
            </div>
            <div class="scatter-container">
                <!-- <h3>California in Summary</h3> -->
                <div class="scatter-graph-container">
                    <canvas id="scatter"></canvas>
                </div>
                <div class="summary-legend"></div>
            </div>

            <section class="statistic">
                <div class="content">
                    <a href="" id="back"><img src="{{ url_for('static', filename='images/backarrow.svg') }}" alt=""><h3>back</h3></a>
                    <div id="text">
                        <h2 class="satoshi">welcome!</h2>
                        <p>pick a county below to get started!</p>
                        {{ statisticfinder.csrf_token }}

                        {{ statisticfinder.county(class='dropdown') }}
                        <button class="submit disabled" onclick="getData()">submit</button>
                    </div>
                </div>
            </section>
        </section>
        <script src="{{ url_for('static',filename='js/second.js') }}"></script>
</section>
