<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PinkPulse</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static',filename = 'images/icon.svg') }}" type="image/x-icon">

</head>
<body>
    <img src="{{ url_for('static',filename='images/blob1.svg') }}" alt="" id="blob">
    <section>
        <img src="{{ url_for('static',filename='images/logo.svg') }}" class="desktopLogo"  alt="" id="logo">
        <img src="{{ url_for('static',filename='images/logoPink.svg') }}" class="mobileLogo" alt="" id="logo">

        <h1>finding the pulse through data</h1>
        <p>based on data from the ACS1 and ACS1DP surveys, PinkPulse investigates how period poverty affects counties across California</p>
        <a href="{{ url_for('second') }}"><button class="button">get started<img src="{{ url_for('static',filename='images/arrow.svg') }}" alt="" class="target"></button></a>
    </section>
    <a id="index-git" href="https://github.com/AZ0228/PinkpulseFS.git"><img src="{{ url_for('static',filename='images/github.svg') }}" alt="" ></a>
    
</body>
<script src="{{ url_for('static',filename='js/index.js') }}"></script>
</html>