<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PinkPulse</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/next.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/loader.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>

<body>
    <div class="runtime">
        <p class="runtime-text">
            API call took 11.5s
        </p>
        <button onclick="toggleRuntime(0)"><p>x</p></button>
    </div>
    <div class="loader">
        <div class="three-body">
            <div class="three-body__dot"></div>
            <div class="three-body__dot"></div>
            <div class="three-body__dot"></div>
        </div>    
    </div>
    {% include 'choose.html' %}
    <section class="statistics">
        <div class="total-amount-container">
            <canvas id="total-amount"></canvas>
        </div>
        <div class="income-dist-container">
            <canvas id="income-dist"></canvas>
        </div>
        <div class="racial-dist-container">
            <canvas id="racial-dist"></canvas>
        </div>
  
        
    </section>
    <script src="{{ url_for('static',filename='js/ajax.js') }}"></script>
    <script>
        

        

/*
        document.addEventListener('DOMContentLoaded', function () {
            const totalamount = document.getElementById('total-amount');

            const labels = ['county average', 'state average', 'national average'];
            const data = {
                labels: labels,
                datasets: [{
                    data: [65, 59, 80],
                    backgroundColor: [
                        '#7B5573',
                        '#CD9BC2',
                        '#CD9BC2',
                    ],
                    borderRadius: 10,
                }]
            };

            const chart = new Chart(totalamount, {
                type: 'bar',
                data: data,
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks:{
                                font:{
                                    size:11,
                                    family:'Satoshi1',

                                }
                            }
                        }
                    },
                    plugins:{
                        legend:{
                            display:false
                        }
                    }
                },
            });
        });*/
    </script>
</body>

</html>